body
{
    margin: 0;
}
div.separator
{
    background-color: darkgray;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 5%;
    height: 2px;
}
main
{
    margin: 1em;
}
nav
{
    background-color: lightskyblue;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: sticky;
    top: 0;
    text-align: center;
}
nav div
{
    display: inline-block;
}
nav div a
{
    margin-right: 2em;
}