h1
{
    text-align: center;
}

#header-img, #header-img div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

#header-img div
{
    width: 85%;
    height: 100%;
    border-radius: 1em;
}

#header-img div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}