article
{
    overflow: hidden;
    margin-bottom: 1em;
}
article div.title
{
    text-align: center;
    font-size: 150%;
}
article img
{
    max-width: 200px;
    max-height: 300px;
    float: left;
    margin-right: 2em;
}
article p
{
    margin-top: 0.5em;
    text-indent: 2em;
}